*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.bold{
    font-weight: bold;
}

.red{
    color: red;
}

.hidden{
    display: none;
}

/* PROVISIONAL !!! */

.logo_img{
    width: 10px;
    height: auto;
}

/*HEADER*/

.header{
    width: 100%;
}


.header_divs{
    display: inline-block;
}

.header_left{
    width: 15%;
}

.header_central{
    text-align: center;
    width:calc(70% - 20px);
}

.header_central h1{
    font-size: 50px;
    padding: 15px 0px;
}

.route li{
    display: inline;
    font-weight: normal;
    text-align: center;
}

.route li a{
    color: #929191;
}

.header_right{
    width: 15%;
}

/*-form*/

.fieldset{
    border: none;
}

/*ASIDE*/ 

.menu{
    position: absolute;
    top: 50px;
    left: 50px;
    font-weight: bolder;
    cursor: pointer;
    width: 300px;
}

.menu > li {
    display: inline;
}

.menu li{
    list-style: none;
    padding: 8px 0px;
}

.menu li:hover{
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}

.genre{
    display: inline-block;
    cursor: pointer;
    width: 25%;
    font-weight: lighter;
    color: #929191;
    vertical-align: top;
}

.products_list{
    display: none;
    font-weight: 500;
    color: #5a5a5a;
}

.menu_list li:hover > ul {
    display:block;
    font-size: 0.8em;
}

.red:hover{
    color: red !important; /*xq tengo que poner !important ??*/
}

/*PARTE CENTRAL*/

.images{
    margin: 60px 10%;
    width: 80%;
}

.image_container{
    display: inline-block;
    width: calc(25% - 14px);
    margin: 0px 5px;
    margin-bottom: 30px;
}

.image_container p{
    text-align: center;

    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis; 
}

.image_container img{
    width: 100%;
    height: calc(100vw * 0.25);
}

/*FOOTER*/

.footer_links_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link_list{
    list-style: none;
}

/*Lista con logos*/
/*
.list_with_logos{
    list-style-position: inside;
}

.facebook{
    list-style-image: url("assets/logos-redes/facebook.png");
}

.twitter{
    list-style-image: url("assets/logos-redes/twitter.png");
}

.pinterest{
    list-style-image: url("assets/logos-redes/pinterest.png");
}

.instagram{
    list-style-image: url("assets/logos-redes/instagram.png");
}

.youtube{
    list-style-image: url("assets/logos-redes/youtube.png");
}

.spotify{
    list-style-image: url("assets/logos-redes/spotify.png");
}
*/